
.nav {
    display: flex;
    justify-content: center;
    background-color: palegoldenrod;
    
    
}
nav>ul>li{
    margin: 5px 30px;
    display: inline-block;
    font-size: 14px;
    
}
a {
    color: navy;

}
h1 {
    text-align: center;
    color: navy;
}


.table-container {
    display: flex;
    width: 98%;
}
.table {
    max-width: 100%;
    margin: 25px auto;
  
    flex-grow: 1;
}
td {
    border: 1px solid blue;
    text-align: center;
}
td span {
    float: right;
    padding-right: 4px;
}

.key {
    font-size: 12px;
    text-align: center;
}
.game-row:nth-child(odd) {
    background-color: palegoldenrod;
  }
  .game-row:nth-child(even) {
    background-color: midnightblue;
    color: white;
  }
  
 .top :first-child {
    float:right;
    padding-right: 1px;
 }

 @media (min-width: 700px) {
    .table-container {
        margin: 20px auto;
        max-width: 850px;
    }
    td span {
        display: inline-block;
        padding-right: 20px;
        text-align: center;
    }
    .top :first-child{
       padding-right: 20px;
    }

    thead, tbody, a {
        font-size: 20px;
    }
    .key {
        font-size: 16px;
    }
 }
    
 